*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #d7d9d0;
    font-family: 'Poppins', sans-serif;
    /* background: #fafafa; */
}

.NavBarMenu{
    background-color: rgb(24, 48, 40);
    overflow: hidden;
    height: 80px;
    text-align: center;
}

.NavBarMenu img{
    /* float: left; */
    margin-right: 50px;
    text-align: center;
    /* display: block; */
    width:280px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebarCollapse{
    width: 50px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: rgb(24, 48, 40);
    color: #d7d9d0;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(19, 71, 55);
}

#sidebar ul.components {
    border-bottom: 1px solid rgb(19, 71, 55);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #d7d9d0;
    background: rgb(19, 71, 55);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #d7d9d0;
    background: rgb(19, 71, 55);
}
