{% extends 'layout.html' %}
{% block Conteudo %}
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>
            <ul class="list-unstyled components">
                <li >
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="portifolio.html">Portfólio</a>
                </li>
                <li class="active">
                    <a href="informacao.html">Informações</a>
                </li>
            </ul>
        </nav>
        <div class="container-xxl text-center RowMargin">
            <div class="row align-items-center">
                <div class="col-sm text-break fs-4">
                    <h1>Teste</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex aliquam, totam dolore eos soluta facere, obcaecati sed dolores mollitia laudantium voluptatem neque, ducimus unde animi tenetur reprehenderit tempora iusto optio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem culpa debitis vel totam, quod voluptas nulla eos repellat dolorum dignissimos atque asperiores quia veritatis officia delectus architecto, ducimus molestiae odit?</p>
                </div>
                <div class="col-sm">
                    <img src="../static/Imagens/fundo.jpg" class="img-fluid img" alt="Logo">
                </div>
            </div>
        </div>
        <div class="fixed-bottom text-cente footer">
            <p>Direitos nananam</p>
        </div>
    </div>
{% endblock %}